.modalForm {
  position: fixed;
  backdrop-filter: blur(3px);
  top: 0;
  height: 100%; 
  left: 0;
  right: 0;
  place-content: center;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  display: none;
}

.activeForm{
    display: grid;
}

.modalForm__form {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline-style: solid;
  border: rgb(26, 27, 68);
  border-radius: 5px;
}

.modalForm__title {
  font-size: 30px;
  margin: 10px 0;
}

.modalForm__x {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.modalForm__x:hover {
  color: rgb(186, 13, 13);
}

.modalForm__label {
  display: block;
}

.modalForm__input {
  width: 100%;
  padding: 9px;
  outline: none;
  font-family: var(--principal-font);
}

.modalForm__div {
  list-style: 20px;
}

.modalForm__btn {
  padding: 10px;
  background-color: var(--purple);
  outline: none;
  color: var(--black);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 200ms ease;
  font-size: 17px;
  font-weight: bolder;
}

.modalForm__btn:hover {
  background-color: var(--medium-purple);
  color: var(--white);
}
